*{
    margin: 0px;
}

#pokedex{
    height: 100vh;
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.pokedex-page{
    margin: 2vh 2vh;

    border: 1px solid black;
    border-radius: 10px;
    
    width: 350px;
    height: 470px;

    min-width: 350px;

    text-align: start;
    padding: 15px;

    box-shadow: 7px 7px;

/*
    background: rgba(255, 0, 0, 0.6);
*/
/*
    background: linear-gradient( white, red);
*/
}

#pokedex-left form{
    display: flex;
    justify-content: space-between;
}



#name{
    width: 150px;
}

button{
    padding: 1px;
    font-size: 13px;
}

#random{
    margin-right: 5px;
}

#image-screen{
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 10px;
    height: 300px;

    display: flex;
    justify-content: space-around;
    align-items: start;

/*
    background: white;
*/
}

#poke-name{
    margin-top: 10px;
    font-size: 25px;
}

#number-container{
    text-align: left;
}



#screen-left{
    text-align: center;
}



#pokedex-left img{
    border: 1px solid black;
    border-radius: 10px;
    height: 150px;
    width: 150px;
    margin-top: 10px;
    
}

#tables{
    display: flex;
    justify-content: space-between;
}

table{
    margin-top: 20px;
    border-collapse: collapse;
}

table td, th{
    padding: 5px;
    text-align: start;
    font-size: 15px;
}

tr td + td{
    width: 30px;
    text-align: center;
}

#abilities{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

#abilities span{
    font-size: 17px;
}

#abilities span:hover{
    cursor: pointer;
    text-decoration: underline;
}



#ability-description{
    width: 100%;
    height: 70px;
    margin-top: 10px;
    border-radius: 10px;

    box-sizing: border-box;
    padding-left: 7px;
}

/******  Moves *******/
#pokedex-middle{
    display: none;
}

#pokedex-middle h2{
    text-align: center;
}

#moves-container{
    display: flex;
    justify-content: left;
    flex-flow: wrap;

    height: 40%;

    border: 1px solid black;
    overflow: scroll;

    padding-left: 5px;
    margin-bottom: 10px;
}

.move{
    margin-right: 10px;
    font-size: 20px;
}

.move:hover{
    cursor:pointer;
    text-decoration: underline;
    font-weight: bold;
}

/****** Pokedex Right ********/

#pokedex-right h2{
    text-align: center;
}

#chain-evolution{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


.chain-evolution-img{
    border: 1px solid black;
    border-radius: 10px;
    height: 110px;
    width: 110px;
    margin-top: 10px;

    cursor: pointer;
    
}

.chain-evolution-img:hover{
    box-shadow: 5px 5px 10px;
}

#search-move-container{
    margin-top: 5px;
}

#search-move-container form{
    margin-top: 10px;
    margin-bottom: 15px;
}

#moves-form{
    display: flex;
    justify-content: space-between;
}

#move-input{
    width:150px;
}


#search-move-container p,
#search-move-container b{
    margin-bottom: 3px;
    font-size: 15px;
}




#move-description{
    width: 100%;
    height: 100px;
    margin-bottom: 3px;
}

@media (max-width:450px){
    .chain-evolution-img{
        width: 100px;
        height: 100px;

    }

}
