*{
    margin: 0px;
}

#pokedex{
    margin: 2vh auto;

    border: 1px solid black;
    border-radius: 10px;
    
    width: 350px;
    height: 450px;

    text-align: start;
    padding: 15px;
}

#image-screen{
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 20px;
    height: 300px;

    display: flex;
    justify-content: space-around;
    align-items: start;
}

#poke-name{
    margin-top: 10px;
}

#screen-left{
    text-align: center;
}



img{
    border: 1px solid black;
    border-radius: 10px;
    height: 170px;
    margin-top: 10px;
    
}

#tables{
    display: flex;
    justify-content: space-between;
}

table{
    margin-top: 20px;
    border-collapse: collapse;
}

table td, th{
    padding: 5px;
    text-align: start;
}

tr td + td{
    width: 30px;
    text-align: center;
}

#abilities{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

