*{
    margin: 0px;
}

#pokedex{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.pokedex-page{
    margin: 2vh 2vh;

    border: 1px solid black;
    border-radius: 10px;
    
    width: 350px;
    height: 470px;

    text-align: start;
    padding: 15px;
}

#pokedex-left form{
    display: flex;
    justify-content: space-between;
}

#random{
    margin-right: 5px;
}

#image-screen{
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 10px;
    height: 300px;

    display: flex;
    justify-content: space-around;
    align-items: start;
}

#poke-name{
    margin-top: 10px;
}

#screen-left{
    text-align: center;
}



#pokedex-left img{
    border: 1px solid black;
    border-radius: 10px;
    height: 150px;
    width: 150px;
    margin-top: 10px;
    
}

#tables{
    display: flex;
    justify-content: space-between;
}

table{
    margin-top: 20px;
    border-collapse: collapse;
}

table td, th{
    padding: 5px;
    text-align: start;
}

tr td + td{
    width: 30px;
    text-align: center;
}

#abilities{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

#abilities span{
    font-size: 17px;
}

#abilities span:hover{
    cursor: pointer;
    text-decoration: underline;
}



#ability-description{
    width: 100%;
    height: 70px;
    margin-top: 10px;
    border-radius: 10px;

    box-sizing: border-box;
    padding-left: 7px;
}

/* Pokedex Right */

#pokedex-right h2{
    text-align: center;
}

#chain-evolution{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


.chain-evolution-img{
    border: 1px solid black;
    border-radius: 10px;
    height: 110px;
    width: 110px;
    margin-top: 10px;

    cursor: pointer;
    
}

.chain-evolution-img:hover{
    box-shadow: 5px 5px 10px;
}

#search-move-container{
    margin-top: 10px;
}

#search-move-container form{
    margin-top: 10px;
    margin-bottom: 20px;
}

#search-move-container p{
    margin-bottom: 10px;
}


#move-description{
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
}
